h1 {
  color: navy;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  position: absolute;
  padding: 1rem;
  border: 1px solid black;
  min-width: 375px;
  max-width: 428px;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
