h1 {
  color: navy;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  border: 1px solid black;
  border-radius: 20px;
  min-width: 375px;
  width: 22.5%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  padding: 1rem 0.75rem 0.75rem;
  height: 3.1rem;
}

.homeLink {
  padding-right: 1.5rem;
}

header p {
  margin: 0 auto;
}

.dummyIcons {
  gap: 1.5rem;
}

#home {
  padding: 1rem;
  justify-content: space-evenly;
}

#logo {
  font-size: 6.7rem;
  margin: 0 1.9rem;
}

#home div {
  font-size: 0.97rem;
}

.coinNav{
  /* position: fixed; */
  /* height: 65%; */
}

#form {
  padding: 0.5rem;
}

#form input {
  width: 100%;
  padding: 0.2rem;
}

#form input::placeholder{
  text-align: center;
}

#coinGrid {
  /* border: 1px solid red; */
  /* padding: 0.2rem; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  position: fixed;
  overflow-y: hidden;
  /* max-height: 100%; */
}

/* .gridItem a {
  border: 1px solid;
  display: block;
  width: 100%;
  height: 100%;
  padding: 2rem;
} */

/* #searchResult {
  position: absolute;
  top: 65.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 63.8%;
  background: rgba(69, 68, 68, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

#searchResult a, #searchResult p {
  border: 1px solid;
  padding: 4rem;
  background: whitesmoke;
} */