h1 {
  color: navy;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  border: 1px solid black;
  max-width: 428px;
  height: 100%;
  margin: auto;
}
