@font-face {
  font-family: 'Gill Sans', sans-serif;
  src: url('./assets/Gill-Sans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato', serif;
  src: url('./assets/Lato-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', sans-serif;
  color: #ffffff;
  background: #1D1D1D;
}

#root {
  min-height: 100vh;
}
